@charset "UTF-8";

/********************************/
/*****  Carga Tipografías  *****/

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold-Italic";
  src: url("fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url("fonts/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url("fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu-Light-Italic";
  src: url("fonts/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium-Italic";
  src: url("fonts/Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Signika";
  src: url("fonts/Signika-VariableFont_wght.ttf");
}

/********************************/
/*****  Variables y  ***********/

:root {
  --green-pcf: #43d87e;
  --yellow-pcf: #e2ff3c;
  --blue-pcf: #2644f9;
  --gray-pcf: #666666;
  --white: #ffffff;
  --black: #000000;
}

/********************************/
/********  Textos  *************/

/** Colores Textos **/

.pcf-text-green {
  color: var(--green-pcf);
}
.pcf-text-blue {
  color: var(--blue-pcf);
}
.pcf-text-yellow {
  color: var(--yellow-pcf);
}

.pcf-text-gray {
  color: var(--gray-pcf);
}

.pcf-text-white {
  color: var(--white);
}

.pcf-text-black {
  color: var(--black);
}

/** Tipografías Textos **/

.pcf-text-regular {
  font-family: Ubuntu-Regular;
}

.pcf-text-medium {
  font-family: Ubuntu-Medium;
}

.pcf-text-bold {
  font-family: Ubuntu-Bold;
}

/** Tamaños de Texto (Títulos y Parrafo) **/

.pcf-title-big {
  font-size: 4em !important;
}

.pcf-title-medium {
  font-size: 2.5em !important;
}

.pcf-title-small {
  font-size: 1.5em !important;
}

.pcf-paragraph {
  font-family: "Signika", Ubuntu-Bold, sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

/********************************/
/*******  Fondos  **************/

.pcf-bg-black {
  background-color: var(--black) !important;
}

.pcf-bg-gray {
  background-color: var(--gray-pcf) !important;
}

.pcf-bg-green {
  background-color: var(--green-pcf);
}
.pcf-bg-white {
  background-color: var(--white);
}
.pcf-bg-blue {
  background-color: var(--blue-pcf);
}
.pcf-bg-yellow {
  background-color: var(--yellow-pcf);
}

/********************************/
/*******  Botones  **************/

a.buttonSeeAll {
  border: 1px solid #7a7a7a;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px 0;
  color: var(--gray);
  font-size: 1.5em;
}

a.buttonSeeAll:hover {
  border: 1px solid var(--green-pcf);
  color: var(--green-pcf);
}

/****************************************/
/****** Header Landing  *********/

.headerlanding .img-header {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  float: initial;
  display: block;
}

/****************************************/
/****** Separadores Productos  *********/

.separador-especial {
  background-image: none;
  background-color: #43d87e;
}

/****************************************/
/*******  Titular categoria  ***********/

.white-txt {
  color: white !important;
  padding: 15px;
}

.texto-titular-categoria {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #fff !important;
}
/****************************************/
/***** CSS MODAL ******/

.modal_video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  opacity: 0;
}

.modal_video_content {
  width: 80%;
  height: 90%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #fff;
  background: #000;
  display: none;
  z-index: 99;
}

.close-icon {
  /* float: right; */
  /* width: 13px; */
  /* margin-right: 9px; */
  /* margin-top: 54px; */
  position: absolute !important;
  top: 3%;
  right: 7%;
}

#landing .delete,
.close-icon {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
}

#landing .delete::after,
#landing .delete::before,
.close-icon::after,
.close-icon::before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

#landing .delete::before,
.close-icon::before {
  height: 2px;
  width: 50%;
}

#landing .delete::after,
.close-icon::after {
  height: 50%;
  width: 2px;
}

.modal_video iframe {
  width: 100%;
  height: 100%;
  top: 50%;
}

.modal_video_title {
  font-size: 28px;
  margin: 10px 15px;
  color: #76b900;
}

/* AJUSTE RESPONSIVO MODAL  */

@media (max-width: 1023px) {
  .modal_video iframe {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  .modal_video_content {
    width: 80%;
    height: 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #fff;
    background: #000;
    display: none;
    z-index: 99;
  }

  .close-icon {
    /* float: right; */
    /* width: 13px; */
    /* margin-right: 9px; */
    /* margin-top: 54px; */
    position: absolute !important;
    top: 32%;
    right: 15px;
  }

  .grid-container {
    max-width: 100%;
    display: grid;
    /* grid-template-columns: 1fr min(142rem, calc(100% - 32px)) 1fr; */
    margin: 0 auto;
  }
}

/****************************************/
/***** CSS ESPECIFICO DEL LANDING ******/

.landing {
  max-width: 1420px;
  margin: 0 auto;
  padding: 20px 0;
}

.bs-5 .landing .figure-mobile {
  position: relative;
  display: block;
}

.bs-5 .landing .title-xiaomi-mobile {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.bs-5 .landing .title-xiaomi-desktop {
  display: none;
}

.bs-5 .landing .figure-desktop {
  display: none;
}

/****************************************/
/***** MEDIA QUERIES ******/

@media (min-width: 1024px) {
  .bs-5 .landing .title-xiaomi-desktop {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
    display: block;
  }

  .bs-5 .landing .figure-desktop {
    position: relative;
    display: block;
  }

  .bs-5 .landing .figure-mobile {
    display: none;
  }
}
